* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* #4891ff; */
:root {
  --primary-color: #b0e681;
  --light-color: #f4f4f6;
  --dark-color: #1c4032;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

.logo-style {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-style span {
  font-size: 32px;
  font-weight: 600;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.padding-tb {
  padding: 40px 0px;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/* Hero */
/* .hero {
  margin-bottom: 50px;
  position: relative;
  height: 100vh;
}





.hero::after  {
  position: absolute;
  background: url('../images/image.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
 
  height: 550px;
  top: 200px;
  left: 0;
  z-index: -1;
  
  content: "";
} */

.hero {
  margin-bottom: 50px;
  position: relative;
  height: 70vh;
}

.hero::after {
  position: absolute;
  background: url('../images/image.png') no-repeat;
  background-size: cover; /* Растягивает изображение по всему контейнеру */
  background-position: center;
  width: 100%;
  height: 50vh;
  top: 30%;
  left: 0;
  z-index: -1;
  content: "";
}


.hero .hero-content {
  width: 50%;
  background: var(--dark-color);
  padding: 20px;
  color: var(--primary-color);
  /* border-radius: 10px; */
  margin-top: 40px;
  border-radius: 5px;
}






.hero .hero-text {
  width: 100%;
  margin-top: 12px;
  font-size: 18px;
  color: white;


}

/* Video */
.video {
  padding: 10px 0 40px;
}

.video .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video .video-preview {
  margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
  padding: 40px 0;
}

.testimonials .testimonials-heading {
  width: 700px;
  margin-bottom: 40px;
}

.testimonials .testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimonials .card p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}

/* Pricing */
.icon-card {
  font-size: 3.2rem;
  margin-left: 1rem;
}

.flex-m {
  display: flex;
  flex-direction: column;
}

.pricing .pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.pricing .pricing-card-subheading {
  margin-bottom: 30px;
}

.pricing .pricing-card-price {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 30px 0;
}

.pricing ul li {
  margin-bottom: 20px;
}

.pricing ul li i {
  margin-right: 10px;
}

.pricing .pricing-footer {
  margin: 30px 0;
}



/* about  */

/* Basic Layout */
.about {
  padding: 50px 0;
}


.grid-2 {
  display: grid;
  grid-template-columns: 1.3fr 1.7fr;
  gap: 5.2rem;
  align-items: center;
}

/* Styling for the image grid */
.item-imgs {
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  gap: 1.5rem;
}

.item-img-1 {
  border-radius: 50px 0 50px 0;
  grid-area: img1;
  
  width: 350px;
  align-self: center;
}

.item-img-2 {
  border-radius: 50px 0 50px 0;
  grid-area: img2;
  
  width: 350px;
}

.item-img-3 {
  border-radius: 50px 0 50px 0;
  grid-area: img3;
  
  width: 350px;
}


.item-about h3 {
  color: #4CAF50;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.item-about p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #4CAF50;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45A049;
}




/* FAQ */



.faq-group-body p {
  color: #eee;
}

.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding: 10px 0;
  margin-bottom: 5px;
  position: relative;
}

.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.faq ul.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Card */
.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: #b0e681;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.99;
  color: #333;
}

.margin-top {
  margin-top: auto;
}

.margin-bottom {
  margin-bottom: auto;
}

.btn-primary {
  background: var(--primary-color);
  color: #333;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.border {
  box-shadow: 5px 6px 38px 5px rgba(34, 60, 80, 0.15);
}

.text-xxls {
  
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 600;
   
  
}



.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-xls {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 15px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-primary-color {
  color: var(--primary-color)
}

.bg-light {
  background: var(--dark-color);
  color: var(--primary-color);
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #1c4032;
  color: #fff;
}

/* Hamburger Button */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

@media (max-width:1024px) {
  body {
    font-size: 14px;
  }
}


/* Media Queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width:768px) {
  body{
    font-size: 11px;
  }  
  .hero .hero-content,
  .hero .hero-text {
    font-size: 12px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .logo-style span  {
    font-size: 20px;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }

  /* .hero .container {
    background: url('../images/') no-repeat;
    background-size: 350px 400px;
    background-position: bottom;
    height: 770px;
  } */

  .hero .hero-content,
  .hero .hero-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }


  .hero .hero-buttons .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }

  .testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }

  .testimonials .testimonials-grid,
  .pricing .pricing-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    gap: .5rem;
  }

  /* Text */
  .mobile-menu ul li a {
    font-size: 14px;
  }

  .text-xxls {
    font-size: 1.3rem;
  }


  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}





/* stage of work */

.title {
  text-align: center;
  font-size: 2em;
  color: var(--primary-color);
  margin-bottom: 40px;
}
.steps {
  display: flex;
  flex-direction: column;
  position: relative;
}
.step {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-direction: row;
}
.step-icon {
  min-width: 75px;
  height: 75px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  color: white;
  font-size: 2.4rem;
  margin-right: 20px;
}
.step-content {
  max-width: 600px;
}

.step-p {
  color: white;
}
.step-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.line {
  position: absolute;
  left: 225px;
  top: 30px;
  width: 2px;
  height: calc(100% - 120px);
  background-color: var(--primary-color);
  z-index: -1;
}

@media (max-width:1096px) {
  .line {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
  .title {
      font-size: 1.5em;
      margin-bottom: 20px;
  }
  .step {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .step-icon {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .line {
      display: none;
  }
}




/*  stage of work 2  */


